  <html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
    <title>City: {{ name }}</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <p>You can find {{ name }} at {{ center.lat }} &amp; {{ center.lon }}.</p>
  </body>
</html>
